backports.weakref==1.0rc1
bleach==1.5.0
boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
gensim==2.3.0
html5lib==0.9999999
idna==2.6
Markdown==2.6.8
numpy==1.13.1
protobuf==3.18.3
requests==2.18.4
scipy==0.19.1
six==1.10.0
smart-open==1.5.3
tensorflow-gpu==1.2.1
urllib3==1.22
Werkzeug==0.12.2
ciseau==1.0.0
